---
layout: "default"
---

<!-- Page Title -->
<div class="page-title">
    <div class="title-wrapper">
        <h1>Blogs</h1>
    </div>
</div><!-- End Page Title -->

<!-- Search Results Posts Section -->
<section id="search-results-posts" class="search-results-posts section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">

            {% for post in site.posts %}
                <div class="col-lg-4">
                    <article>

                        <div class="post-img">
                            <img src="{{ post.image }}" alt="" class="img-fluid">
                        </div>

                        <p class="post-category">{{ post.category }}</p>

                        <h2 class="title">
                            <a href="{{ post.url || relative_url }}">{{ post.title }}</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-date">
                                    <time datetime="2022-01-01">{{ post.date | date: "%-d %B %Y" }}</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->
            {% endfor %}

        </div>
    </div>

</section><!-- /Search Results Posts Section -->

<!-- Pagination 3 Section -->
<section id="pagination-3" class="pagination-3 section">

    <div class="container">
        <div class="d-flex justify-content-center">
            <ul>
                <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#" class="active">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>...</li>
                <li><a href="#">10</a></li>
                <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>

</section><!-- /Pagination 3 Section -->